*
!*/
!**.java
!**.txt
!**.json
!.expelimicate
!.gitignore
.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
*.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk
*.nar
*.7z
*.gz
*.exe
# Doc Files #
*.mobi
*.epub
*.azw3
*.pdf
*.ppt
*.pptx
*.doc
*.docx
*.one
*.onepkg
# Media Files #
*.jpg
*.gif
*.png
*.web
*.webp
*.svg
*.awebp
*.session
*.mkv
*.mp4
*.avi
**/[log]
**/.idea